{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>::Todo App::</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/todo.css' %}">
</head>
<body>
	<h1><a href="/">My App</a></h1>
<form method="POST" action="/">{% csrf_token %}
	{{form.title}}
	<input type="submit" value="Add">
</form>
{% for item in all_items %}
<h2 >
{{item.title}}  <a href="{% url 'update_list' item.pk %}" >Update</a>
<a href="{% url 'delete_list' item.pk %}">Delete</a></h2>
{% endfor %}
</ul>


</body>
</html>