<!DOCTYPE html>
<html>
<head>
	<title>::My First Website::</title>
</head>
<body>
<h1 style="color: red;">Nature is a teacher – What happens when you allow everything to be “as it is”?</h1>
<h3>A number of years ago I went on holiday to a beautiful part of Portugal. We stayed in a converted farmhouse in the middle of a national park. The farmhouse was in a valley. We arrived in the evening when the birds were just starting to roost. It was still warm and the air smelled sweet with pollen. You could hear the hum of crickets. A small river flowed through that valley. We opened a rickety gate and crossed a small wooden bridge.</h3>
</body>
</html>